Fabric_usecases/pipeline_sales_test_backup.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "ExcelSource",
            "storeSettings": {
              "type": "AmazonS3ReadSettings",
              "recursive": true,
              "enablePartitionDiscovery": false
            },
            "datasetSettings": {
              "type": "Excel",
              "typeProperties": {
                "location": {
                  "type": "AmazonS3Location",
                  "bucketName": "simplefabricbucket",
                  "folderPath": "store_inputfiles",
                  "fileName": "store_locations_v1 (1).xlsx"
                },
                "sheetName": "Sheet2",
                "firstRowAsHeader": true
              },
              "schema": [],
              "externalReferences": {
                "connection": "6533a15f-35e5-448f-82e2-8b19489e0aef"
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "LakehouseTableSink",
            "tableActionOption": "OverwriteSchema",
            "partitionOption": "None",
            "datasetSettings": {
              "type": "LakehouseTable",
              "typeProperties": {
                "schema": "dbo",
                "table": "raw_store"
              },
              "schema": [],
              "linkedService": {
                "name": "Bronze_Layer",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "851b4339-a3be-4241-985b-8c69356c7200",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Tables"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Copy Store data",
        "dependsOn": []
      },
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "DataWarehouseSource",
            "sqlReaderQuery": "SELECT coalesce(max([transaction_id]),0)  max_value from [Bronze_Layer].[dbo].[raw_sales]",
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "DataWarehouseTable",
            "schema": [],
            "linkedService": {
              "name": "Gold_Layer_WH",
              "properties": {
                "type": "DataWarehouse",
                "typeProperties": {
                  "artifactId": "4f593654-5d69-473c-91df-d4a1ef303bf7",
                  "endpoint": "a5kotaldwscevlccuy24crmqsy-56cp7ruqstquvn6gxyigxvglrq.datawarehouse.fabric.microsoft.com",
                  "workspaceId": "c6ff84ef-9490-4ae1-b7c6-be106bd4cb8c"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "firstRowOnly": true
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Get_max_value",
        "dependsOn": [
          {
            "activity": "Create Pre Source Sales table",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "Set_max_value",
          "value": {
            "value": "@activity('Get_max_value').output.firstRow.max_value",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Set_max_value",
        "dependsOn": [
          {
            "activity": "Get_max_value",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "MySqlSource",
            "query": {
              "value": "select * from demo.sales where transaction_id > '@{variables('Set_max_value')}'",
              "type": "Expression"
            },
            "datasetSettings": {
              "type": "MySqlTable",
              "schema": [],
              "externalReferences": {
                "connection": "25876234-cd5c-4eba-81cd-8643e862af01"
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "LakehouseTableSink",
            "tableActionOption": "Append",
            "partitionOption": "None",
            "datasetSettings": {
              "type": "LakehouseTable",
              "typeProperties": {
                "schema": "dbo",
                "table": "raw_sales"
              },
              "schema": [],
              "linkedService": {
                "name": "Bronze_Layer",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "851b4339-a3be-4241-985b-8c69356c7200",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Tables"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Copy Sales data",
        "dependsOn": [
          {
            "activity": "Set_max_value",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "MySqlSource",
            "datasetSettings": {
              "type": "MySqlTable",
              "typeProperties": {
                "tableName": "`product_catalog`"
              },
              "schema": [],
              "externalReferences": {
                "connection": "25876234-cd5c-4eba-81cd-8643e862af01"
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "LakehouseTableSink",
            "tableActionOption": "OverwriteSchema",
            "partitionOption": "None",
            "datasetSettings": {
              "type": "LakehouseTable",
              "typeProperties": {
                "schema": "dbo",
                "table": "raw_products"
              },
              "schema": [],
              "linkedService": {
                "name": "Bronze_Layer",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "851b4339-a3be-4241-985b-8c69356c7200",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Tables"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Copy product data",
        "dependsOn": [
          {
            "activity": "Copy Store data",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "416937ea-6a0c-49ab-bda8-129a9d89a34c",
          "workspaceId": "00000000-0000-0000-0000-000000000000"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Cleansing_sales_data",
        "dependsOn": [
          {
            "activity": "Copy Sales data",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "51964bd4-a317-4236-b929-5fb2664aa026",
          "workspaceId": "00000000-0000-0000-0000-000000000000"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Cleansing_store_data",
        "dependsOn": [
          {
            "activity": "Copy Sales data",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "3a05bd67-a470-43c0-a59b-e6b79c893e80",
          "workspaceId": "00000000-0000-0000-0000-000000000000"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Cleansing_product_data",
        "dependsOn": [
          {
            "activity": "Copy Sales data",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "9528544b-378e-4ed1-80a1-a6c995534960",
          "workspaceId": "00000000-0000-0000-0000-000000000000"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Create_Dim_Fact_tables",
        "dependsOn": [
          {
            "activity": "Cleansing_sales_data",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "Cleansing_store_data",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "Cleansing_product_data",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "d7b913ad-cf72-49c4-b65a-6c0d2ecf3466",
          "workspaceId": "00000000-0000-0000-0000-000000000000"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Create Pre Source Sales table",
        "dependsOn": [
          {
            "activity": "Copy product data",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Office365Outlook",
        "typeProperties": {
          "inputs": {
            "body": {
              "To": "malathi.s@kermittech.no",
              "Subject": "01_simple_fabric_sales_usecase - Success",
              "Body": "<p>Your Simple Sales fabric pipeline ran successfully 😀</p>",
              "Sensitivity": "",
              "Importance": "Normal"
            },
            "method": "post",
            "path": "/v2/Mail"
          }
        },
        "name": "Send an email",
        "dependsOn": [
          {
            "activity": "Create_Dim_Fact_tables",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ],
    "parameters": {
      "endpoint": {
        "type": "string",
        "defaultValue": "database-1.cpe2m4a8ab3o.us-east-1.rds.amazonaws.com"
      },
      "database": {
        "type": "string",
        "defaultValue": "demo"
      },
      "username": {
        "type": "string",
        "defaultValue": "admin"
      },
      "password": {
        "type": "string",
        "defaultValue": "Rdspassword1234"
      }
    },
    "variables": {
      "Set_max_value": {
        "type": "Integer"
      }
    }
  }
}