Core42Fabric_Sep2025/Core42_RuntimeLogs_copy.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "8a6b9ab8-05e8-9ae9-4b42-38fadf054197",
          "workspaceId": "00000000-0000-0000-0000-000000000000"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Previous_Run_Time",
        "dependsOn": []
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "56b5d5eb-5d66-a442-4ffa-7e0e3e277297",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "parameters": {
            "RunID": {
              "value": {
                "value": "@pipeline().RunId",
                "type": "Expression"
              },
              "type": "string"
            },
            "CurrentRunTime": {
              "value": {
                "value": "@utcNow()",
                "type": "Expression"
              },
              "type": "string"
            },
            "PreviousRunTime": {
              "value": {
                "value": "@{if(equals(activity('Previous_Run_Time').output, null), 'null', string(activity('Previous_Run_Time').output.result.exitvalue))}\n",
                "type": "Expression"
              },
              "type": "string"
            }
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Append_PipelineLog_RunTime",
        "dependsOn": [
          {
            "activity": "Previous_Run_Time",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ]
  }
}