Core42Fabric_Sep2025/Pipelines/Core42_RuntimeLogs_Updated.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "8a6b9ab8-05e8-9ae9-4b42-38fadf054197",
          "workspaceId": "00000000-0000-0000-0000-000000000000"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Previous_Run_Time",
        "dependsOn": [
          {
            "activity": "Current RunTime",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "56b5d5eb-5d66-a442-4ffa-7e0e3e277297",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "parameters": {
            "RunID": {
              "value": {
                "value": "@pipeline().RunId",
                "type": "Expression"
              },
              "type": "string"
            },
            "CurrentRunTime": {
              "value": {
                "value": "@variables('CurrentRunTime')",
                "type": "Expression"
              },
              "type": "string"
            },
            "PreviousRunTime": {
              "value": {
                "value": "@{if(equals(activity('Previous_Run_Time').output, null), 'null', string(activity('Previous_Run_Time').output.result.exitvalue))}\n",
                "type": "Expression"
              },
              "type": "string"
            }
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Append_PipelineLog_RunTime",
        "dependsOn": [
          {
            "activity": "Copy Opportunity",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "LakehouseTableSource",
            "datasetSettings": {
              "type": "LakehouseTable",
              "typeProperties": {
                "table": "Account"
              },
              "schema": [],
              "linkedService": {
                "name": "Core42",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "17866f8c-a6eb-98ec-4c55-efc26ab9a74f",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Tables"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "LakehouseTableSink",
            "tableActionOption": "OverwriteSchema",
            "partitionOption": "None",
            "datasetSettings": {
              "type": "LakehouseTable",
              "typeProperties": {
                "table": "Account_Gold"
              },
              "schema": [],
              "linkedService": {
                "name": "Core42",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "17866f8c-a6eb-98ec-4c55-efc26ab9a74f",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Tables"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Copy Account",
        "dependsOn": [
          {
            "activity": "Previous_Run_Time",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "LakehouseTableSource",
            "datasetSettings": {
              "type": "LakehouseTable",
              "typeProperties": {
                "table": "Lead"
              },
              "schema": [],
              "linkedService": {
                "name": "Core42",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "17866f8c-a6eb-98ec-4c55-efc26ab9a74f",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Tables"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "LakehouseTableSink",
            "tableActionOption": "OverwriteSchema",
            "partitionOption": "None",
            "datasetSettings": {
              "type": "LakehouseTable",
              "typeProperties": {
                "table": "Lead_Gold"
              },
              "schema": [],
              "linkedService": {
                "name": "Core42",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "17866f8c-a6eb-98ec-4c55-efc26ab9a74f",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Tables"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Copy Lead",
        "dependsOn": [
          {
            "activity": "Copy Account",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "LakehouseTableSource",
            "datasetSettings": {
              "type": "LakehouseTable",
              "typeProperties": {
                "table": "Opportunity"
              },
              "schema": [],
              "linkedService": {
                "name": "Core42",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "17866f8c-a6eb-98ec-4c55-efc26ab9a74f",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Tables"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "LakehouseTableSink",
            "tableActionOption": "OverwriteSchema",
            "partitionOption": "None",
            "datasetSettings": {
              "type": "LakehouseTable",
              "typeProperties": {
                "table": "Opportunity_Gold"
              },
              "schema": [],
              "linkedService": {
                "name": "Core42",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "17866f8c-a6eb-98ec-4c55-efc26ab9a74f",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Tables"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Copy Opportunity",
        "dependsOn": [
          {
            "activity": "Copy Lead",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "CurrentRunTime",
          "value": {
            "value": "@utcNow()",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Current RunTime",
        "dependsOn": []
      }
    ],
    "variables": {
      "CurrentRunTime": {
        "type": "String"
      }
    }
  }
}