Fabric_Course/Core42/script_test.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "DataWarehouseSource",
            "sqlReaderQuery": {
              "value": "select coalesce(max(CreatedDate), '2025-01-15T00:00:00') as tgt_max_value \nfrom [salesforce_CRM].[Contact1] \nwhere batch_id = 1",
              "type": "Expression"
            },
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "DataWarehouseTable",
            "schema": [],
            "linkedService": {
              "name": "Salesforce_CRM",
              "properties": {
                "type": "DataWarehouse",
                "typeProperties": {
                  "artifactId": "efb7127e-7522-47d9-a937-6b9d085d9d80",
                  "endpoint": "a5kotaldwscevlccuy24crmqsy-56cp7ruqstquvn6gxyigxvglrq.datawarehouse.fabric.microsoft.com",
                  "workspaceId": "c6ff84ef-9490-4ae1-b7c6-be106bd4cb8c"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "firstRowOnly": true
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Lookup_Max_RecValue",
        "dependsOn": [
          {
            "activity": "Lookup_Max_RecValue_copy1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "ActivityName",
          "value": {
            "value": "@if(not(empty(activity('Pre Create Tables')?.Error?.Message)), concat('Pre Create Tables', activity('Pre Create Tables')?.Error?.Message), if(not(empty(activity('Lookup_Max_RecValue_copy1')?.Error?.Message)), concat('Error in Lookup_Max_RecValue_copy1', activity('Lookup_Max_RecValue_copy1')?.Error?.Message), if(not(empty(activity('Lookup_Max_RecValue')?.Error?.Message)), concat('Error in Lookup_Max_RecValue', activity('Lookup_Max_RecValue')?.Error?.Message), 'Successfully Ran')))",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Set variable1",
        "dependsOn": [
          {
            "activity": "Fourth",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Wait",
        "typeProperties": {
          "waitTimeInSeconds": 2
        },
        "name": "Wait1",
        "dependsOn": [
          {
            "activity": "Lookup_Max_RecValue",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "Err_msg",
          "value": {
            "value": "@replace(concat(activity('Pre Create Tables')?.Error?.Message,'|', activity('Lookup_Max_RecValue_copy1')?.Error?.Message,'|',activity('Lookup_Max_RecValue')?.Error?.Message),'|','')",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Fourth",
        "dependsOn": [
          {
            "activity": "Wait1",
            "dependencyConditions": [
              "Skipped"
            ]
          }
        ]
      },
      {
        "type": "Office365Outlook",
        "typeProperties": {
          "inputs": {
            "body": {
              "To": "malathi.s@kermittech.no",
              "Subject": "Organisation Insert/Updarte Pipeline Run status",
              "Body": "<p><br></p>\n<p>Hi,</p>\n<p>Please find the below Pipeline run details .&nbsp;</p>\n<p><br></p>\n<p>@{variables('Err_msg')}</p>\n<p>@{variables('ActivityName')}@{pipeline().TriggerTime}</p>\n<p>@{pipeline().RunId}</p>\n<p>@{pipeline().Pipeline}</p>\n<p>@{pipeline()?.TriggeredByPipelineName}@{pipeline().PipelineName}</p>\n<p>@{variables('pipeline_status')}</p>\n<p><br></p>",
              "Sensitivity": "",
              "Importance": "Normal"
            },
            "method": "post",
            "path": "/v2/Mail"
          }
        },
        "name": "Office 365 Outlook1_copy1_copy1_copy1_copy1",
        "dependsOn": [
          {
            "activity": "Set variable1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "6a4fb413-d00b-9377-4300-53972160cd88",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "parameters": {
            "batch_id": {
              "value": "1",
              "type": "int"
            }
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Pre Create Tables",
        "dependsOn": [
          {
            "activity": "Intitate Pipeline Audit Logs",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "DataWarehouseSource",
            "sqlReaderQuery": {
              "value": "select coalesce(max(CreatedDate), '2025-01-15T00:00:00') as tgt_max_value \nfrom [salesforce_CRM].[Contact1] \nwhere batch_id = 1",
              "type": "Expression"
            },
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "DataWarehouseTable",
            "schema": [],
            "linkedService": {
              "name": "Salesforce_CRM",
              "properties": {
                "type": "DataWarehouse",
                "typeProperties": {
                  "artifactId": "efb7127e-7522-47d9-a937-6b9d085d9d80",
                  "endpoint": "a5kotaldwscevlccuy24crmqsy-56cp7ruqstquvn6gxyigxvglrq.datawarehouse.fabric.microsoft.com",
                  "workspaceId": "c6ff84ef-9490-4ae1-b7c6-be106bd4cb8c"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "firstRowOnly": true
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Lookup_Max_RecValue_copy1",
        "dependsOn": [
          {
            "activity": "Pre Create Tables",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "514f5565-ada4-a975-46fb-cc1038df2a97",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "parameters": {
            "PipelineRunId": {
              "value": {
                "value": "@pipeline().RunId",
                "type": "Expression"
              },
              "type": "string"
            },
            "PipelineId": {
              "value": {
                "value": "@pipeline().Pipeline",
                "type": "Expression"
              },
              "type": "string"
            },
            "PipelineName": {
              "value": {
                "value": "@pipeline().PipelineName",
                "type": "Expression"
              },
              "type": "string"
            },
            "StartTime": {
              "value": {
                "value": "@utcNow()",
                "type": "Expression"
              },
              "type": "string"
            },
            "EndTime": {
              "value": {
                "value": "@utcNow()",
                "type": "Expression"
              },
              "type": "string"
            },
            "WorkspaceId": {
              "value": {
                "value": "@pipeline().DataFactory",
                "type": "Expression"
              },
              "type": "string"
            },
            "PipelineStatus": {
              "value": "Completed",
              "type": "string"
            },
            "ErrorDescription": {
              "value": "No Error",
              "type": "string"
            }
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Pipeline_Audit_Logs",
        "dependsOn": [
          {
            "activity": "Lookup_Max_RecValue",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "514f5565-ada4-a975-46fb-cc1038df2a97",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "parameters": {
            "PipelineRunId": {
              "value": {
                "value": "@pipeline().RunId",
                "type": "Expression"
              },
              "type": "string"
            },
            "PipelineId": {
              "value": {
                "value": "@pipeline().Pipeline",
                "type": "Expression"
              },
              "type": "string"
            },
            "PipelineName": {
              "value": {
                "value": "@pipeline().PipelineName",
                "type": "Expression"
              },
              "type": "string"
            },
            "StartTime": {
              "value": {
                "value": "@utcNow()",
                "type": "Expression"
              },
              "type": "string"
            },
            "EndTime": {
              "value": {
                "value": "@utcNow()",
                "type": "Expression"
              },
              "type": "string"
            },
            "WorkspaceId": {
              "value": {
                "value": "@pipeline().DataFactory",
                "type": "Expression"
              },
              "type": "string"
            },
            "PipelineStatus": {
              "value": "Errored",
              "type": "string"
            },
            "ErrorDescription": {
              "value": {
                "value": "@replace(concat(\n    activity('Pre Create Tables')?.Error?.Message, '|', \n    activity('Lookup_Max_RecValue_copy1')?.Error?.Message, '|', \n    activity('Lookup_Max_RecValue')?.Error?.Message), '|', '')",
                "type": "Expression"
              },
              "type": "string"
            }
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Pipeline_Audit_Logs_copy1",
        "dependsOn": [
          {
            "activity": "Office 365 Outlook1_copy1_copy1_copy1_copy1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "514f5565-ada4-a975-46fb-cc1038df2a97",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "parameters": {
            "PipelineRunId": {
              "value": {
                "value": "@pipeline().RunId",
                "type": "Expression"
              },
              "type": "string"
            },
            "PipelineId": {
              "value": {
                "value": "@pipeline().Pipeline",
                "type": "Expression"
              },
              "type": "string"
            },
            "PipelineName": {
              "value": {
                "value": "@pipeline().PipelineName",
                "type": "Expression"
              },
              "type": "string"
            },
            "StartTime": {
              "value": {
                "value": "@utcNow()",
                "type": "Expression"
              },
              "type": "string"
            },
            "EndTime": {
              "value": {
                "value": "@utcNow()",
                "type": "Expression"
              },
              "type": "string"
            },
            "WorkspaceId": {
              "value": {
                "value": "@pipeline().DataFactory",
                "type": "Expression"
              },
              "type": "string"
            },
            "PipelineStatus": {
              "value": "Started",
              "type": "string"
            },
            "ErrorDescription": {
              "value": "",
              "type": "string"
            }
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Intitate Pipeline Audit Logs",
        "dependsOn": []
      }
    ],
    "variables": {
      "ActivityName": {
        "type": "String"
      },
      "Error_msg": {
        "type": "String"
      },
      "pipeline_status": {
        "type": "String"
      },
      "Activity_Name": {
        "type": "String"
      },
      "Err_msg": {
        "type": "String"
      }
    }
  }
}