Fabric_Course/salesforce_CRM_Warehouse_Pipeline_copy1.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "name": "Insert Contact",
        "type": "Copy",
        "dependsOn": [
          {
            "activity": "Set_max_value",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "source": {
            "type": "SalesforceSource",
            "query": {
              "value": "SELECT \n   FirstName, \n    LastName, \n    Account.Name, \n    Title, \n    LastActivityDate, \n    Email, \n    Phone, \n    MobilePhone, \n    MailingState, \n    MailingCountry, \n    Account.Owner.Name, \n    CreatedDate\nFROM Contact \nwhere CreatedDate >\n@{variables('set_max_value')}",
              "type": "Expression"
            },
            "includeDeletedObjects": false,
            "datasetSettings": {
              "annotations": [],
              "type": "SalesforceObject",
              "schema": [],
              "typeProperties": {
                "objectApiName": "00Od1000000Ze7REAS"
              },
              "externalReferences": {
                "connection": "dfcc8c00-c3f1-489d-81cb-68d3c4b016ef"
              }
            }
          },
          "sink": {
            "type": "DataWarehouseSink",
            "allowCopyCommand": true,
            "copyCommandSettings": {},
            "datasetSettings": {
              "annotations": [],
              "linkedService": {
                "name": "Salesforce_CRM",
                "properties": {
                  "annotations": [],
                  "type": "DataWarehouse",
                  "typeProperties": {
                    "endpoint": "a5kotaldwscevlccuy24crmqsy-56cp7ruqstquvn6gxyigxvglrq.datawarehouse.fabric.microsoft.com",
                    "artifactId": "efb7127e-7522-47d9-a937-6b9d085d9d80",
                    "workspaceId": "c6ff84ef-9490-4ae1-b7c6-be106bd4cb8c"
                  }
                }
              },
              "type": "DataWarehouseTable",
              "schema": [],
              "typeProperties": {
                "schema": "salesforce_CRM",
                "table": "Contact"
              }
            }
          },
          "enableStaging": true,
          "translator": {
            "type": "TabularTranslator",
            "mappings": [
              {
                "source": {
                  "name": "FirstName",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "FirstName",
                  "physicalType": "varchar",
                  "length": "8000"
                }
              },
              {
                "source": {
                  "name": "LastName",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "LastName",
                  "physicalType": "varchar",
                  "length": "8000"
                }
              },
              {
                "source": {
                  "name": "Account.Name",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "AccountName",
                  "physicalType": "varchar"
                }
              },
              {
                "source": {
                  "name": "Account.Owner.Name",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "AccountOwner",
                  "physicalType": "varchar"
                }
              },
              {
                "source": {
                  "name": "Title",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "Title",
                  "physicalType": "varchar",
                  "length": "8000"
                }
              },
              {
                "source": {
                  "name": "LastActivityDate",
                  "type": "DateTime",
                  "physicalType": "date"
                },
                "sink": {
                  "name": "LastActivityDate",
                  "physicalType": "datetime2",
                  "precision": 6
                }
              },
              {
                "source": {
                  "name": "Email",
                  "type": "String",
                  "physicalType": "email"
                },
                "sink": {
                  "name": "Email",
                  "physicalType": "varchar",
                  "length": "8000"
                }
              },
              {
                "source": {
                  "name": "Phone",
                  "type": "String",
                  "physicalType": "phone"
                },
                "sink": {
                  "name": "Phone",
                  "physicalType": "varchar",
                  "length": "8000"
                }
              },
              {
                "source": {
                  "name": "MobilePhone",
                  "type": "String",
                  "physicalType": "phone"
                },
                "sink": {
                  "name": "Mobile",
                  "physicalType": "varchar"
                }
              },
              {
                "source": {
                  "name": "MailingState",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "MailingState",
                  "physicalType": "varchar",
                  "length": "8000"
                }
              },
              {
                "source": {
                  "name": "MailingCountry",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "MailingCountry",
                  "physicalType": "varchar",
                  "length": "8000"
                }
              },
              {
                "source": {
                  "name": "CreatedDate",
                  "type": "DateTime",
                  "physicalType": "datetime"
                },
                "sink": {
                  "name": "CreatedDate",
                  "physicalType": "datetime2",
                  "precision": 6
                }
              }
            ],
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          }
        }
      },
      {
        "name": "Get_Max_Value",
        "type": "Lookup",
        "dependsOn": [],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "source": {
            "type": "DataWarehouseSource",
            "sqlReaderQuery": "SELECT \nCOALESCE(CAST(MAX([CreatedDate]) AS DATETIME), CAST('1991-01-01' AS DATETIME)) AS max_value\n from [Salesforce_CRM].[salesforce_CRM].[Contact]",
            "queryTimeout": "02:00:00",
            "partitionOption": "None"
          },
          "datasetSettings": {
            "annotations": [],
            "linkedService": {
              "name": "Salesforce_CRM",
              "properties": {
                "annotations": [],
                "type": "DataWarehouse",
                "typeProperties": {
                  "endpoint": "a5kotaldwscevlccuy24crmqsy-56cp7ruqstquvn6gxyigxvglrq.datawarehouse.fabric.microsoft.com",
                  "artifactId": "efb7127e-7522-47d9-a937-6b9d085d9d80",
                  "workspaceId": "c6ff84ef-9490-4ae1-b7c6-be106bd4cb8c"
                }
              }
            },
            "type": "DataWarehouseTable",
            "schema": [],
            "typeProperties": {}
          }
        }
      },
      {
        "name": "Set_max_value",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "Get_Max_Value",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "variableName": "set_max_value",
          "value": {
            "value": "@formatDateTime(activity('Get_Max_Value').output.firstRow.max_value, 'yyyy-MM-ddTHH:mm:ss+00:00')",
            "type": "Expression"
          }
        }
      },
      {
        "name": "Get_DateMax_Value",
        "type": "Lookup",
        "dependsOn": [],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "source": {
            "type": "DataWarehouseSource",
            "sqlReaderQuery": "SELECT \nCOALESCE(CAST(MAX([CreatedDate]) AS DATETIME), CAST('1991-01-01' AS DATETIME)) AS max_value\n from [Salesforce_CRM].[salesforce_CRM].[Contact]",
            "queryTimeout": "02:00:00",
            "partitionOption": "None"
          },
          "datasetSettings": {
            "annotations": [],
            "linkedService": {
              "name": "Salesforce_CRM",
              "properties": {
                "annotations": [],
                "type": "DataWarehouse",
                "typeProperties": {
                  "endpoint": "a5kotaldwscevlccuy24crmqsy-56cp7ruqstquvn6gxyigxvglrq.datawarehouse.fabric.microsoft.com",
                  "artifactId": "efb7127e-7522-47d9-a937-6b9d085d9d80",
                  "workspaceId": "c6ff84ef-9490-4ae1-b7c6-be106bd4cb8c"
                }
              }
            },
            "type": "DataWarehouseTable",
            "schema": [],
            "typeProperties": {}
          }
        }
      },
      {
        "name": "set_datemax_value",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "Get_DateMax_Value",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "variableName": "set_datemax_value",
          "value": {
            "value": "@formatDateTime(activity('Get_DateMax_Value').output.firstRow.max_value, 'yyyy-MM-ddTHH:mm:ss+00:00')",
            "type": "Expression"
          }
        }
      },
      {
        "name": "Update Contact",
        "type": "Copy",
        "dependsOn": [
          {
            "activity": "set_datemax_value",
            "dependencyConditions": [
              "Skipped"
            ]
          }
        ],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "source": {
            "type": "SalesforceSource",
            "query": {
              "value": "SELECT \n   FirstName, \n    LastName, \n    Account.Name, \n    Title, \n    LastActivityDate, \n    Email, \n    Phone, \n    MobilePhone, \n    MailingState, \n    MailingCountry, \n    Account.Owner.Name, \n    CreatedDate\nFROM Contact \nwhere CreatedDate >\n@{variables('set_datemax_value')}",
              "type": "Expression"
            },
            "includeDeletedObjects": false,
            "datasetSettings": {
              "annotations": [],
              "type": "SalesforceObject",
              "schema": [],
              "typeProperties": {
                "objectApiName": "00Od1000000Ze7REAS"
              },
              "externalReferences": {
                "connection": "dfcc8c00-c3f1-489d-81cb-68d3c4b016ef"
              }
            }
          },
          "sink": {
            "type": "DataWarehouseSink",
            "allowCopyCommand": true,
            "copyCommandSettings": {},
            "disableMetricsCollection": false,
            "datasetSettings": {
              "annotations": [],
              "linkedService": {
                "name": "Salesforce_CRM",
                "properties": {
                  "annotations": [],
                  "type": "DataWarehouse",
                  "typeProperties": {
                    "endpoint": "a5kotaldwscevlccuy24crmqsy-56cp7ruqstquvn6gxyigxvglrq.datawarehouse.fabric.microsoft.com",
                    "artifactId": "efb7127e-7522-47d9-a937-6b9d085d9d80",
                    "workspaceId": "c6ff84ef-9490-4ae1-b7c6-be106bd4cb8c"
                  }
                }
              },
              "type": "DataWarehouseTable",
              "schema": [],
              "typeProperties": {
                "schema": "salesforce_CRM",
                "table": "Contact"
              }
            }
          },
          "enableStaging": true,
          "translator": {
            "type": "TabularTranslator",
            "mappings": [
              {
                "source": {
                  "name": "FirstName",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "FirstName",
                  "physicalType": "varchar",
                  "length": "8000"
                }
              },
              {
                "source": {
                  "name": "LastName",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "LastName",
                  "physicalType": "varchar",
                  "length": "8000"
                }
              },
              {
                "source": {
                  "name": "Account.Name",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "AccountName",
                  "physicalType": "varchar"
                }
              },
              {
                "source": {
                  "name": "Account.Owner.Name",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "AccountOwner",
                  "physicalType": "varchar"
                }
              },
              {
                "source": {
                  "name": "Title",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "Title",
                  "physicalType": "varchar",
                  "length": "8000"
                }
              },
              {
                "source": {
                  "name": "LastActivityDate",
                  "type": "DateTime",
                  "physicalType": "date"
                },
                "sink": {
                  "name": "LastActivityDate",
                  "physicalType": "datetime2",
                  "precision": 6
                }
              },
              {
                "source": {
                  "name": "Email",
                  "type": "String",
                  "physicalType": "email"
                },
                "sink": {
                  "name": "Email",
                  "physicalType": "varchar",
                  "length": "8000"
                }
              },
              {
                "source": {
                  "name": "Phone",
                  "type": "String",
                  "physicalType": "phone"
                },
                "sink": {
                  "name": "Phone",
                  "physicalType": "varchar",
                  "length": "8000"
                }
              },
              {
                "source": {
                  "name": "MobilePhone",
                  "type": "String",
                  "physicalType": "phone"
                },
                "sink": {
                  "name": "Mobile",
                  "physicalType": "varchar"
                }
              },
              {
                "source": {
                  "name": "MailingState",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "MailingState",
                  "physicalType": "varchar",
                  "length": "8000"
                }
              },
              {
                "source": {
                  "name": "MailingCountry",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "MailingCountry",
                  "physicalType": "varchar",
                  "length": "8000"
                }
              },
              {
                "source": {
                  "name": "CreatedDate",
                  "type": "DateTime",
                  "physicalType": "datetime"
                },
                "sink": {
                  "name": "CreatedDate",
                  "physicalType": "datetime2",
                  "precision": 6
                }
              }
            ],
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          }
        }
      },
      {
        "name": "ForEach1",
        "type": "ForEach",
        "dependsOn": [
          {
            "activity": "Lookup_Update_Rows",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "typeProperties": {
          "items": {
            "value": "@activity('Lookup_Update_Rows').output.value",
            "type": "Expression"
          },
          "activities": [
            {
              "name": "Script2",
              "type": "Script",
              "dependsOn": [
                {
                  "activity": "Set variable1",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "linkedService": {
                "name": "Salesforce_CRM",
                "properties": {
                  "annotations": [],
                  "type": "DataWarehouse",
                  "typeProperties": {
                    "endpoint": "a5kotaldwscevlccuy24crmqsy-56cp7ruqstquvn6gxyigxvglrq.datawarehouse.fabric.microsoft.com",
                    "artifactId": "efb7127e-7522-47d9-a937-6b9d085d9d80",
                    "workspaceId": "c6ff84ef-9490-4ae1-b7c6-be106bd4cb8c"
                  }
                }
              },
              "typeProperties": {
                "scripts": [
                  {
                    "parameters": [
                      {
                        "name": "accountname",
                        "type": "String",
                        "value": {
                          "value": "@variables('accountname')",
                          "type": "Expression"
                        },
                        "direction": "Input"
                      }
                    ],
                    "type": "Query",
                    "text": {
                      "value": "update [salesforce_CRM].[Contact] set Mobile=1234545454",
                      "type": "Expression"
                    }
                  }
                ],
                "scriptBlockExecutionTimeout": "02:00:00"
              }
            },
            {
              "name": "Set variable1",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "variableName": "accountname",
                "value": {
                  "value": "@item().Email",
                  "type": "Expression"
                }
              }
            }
          ]
        }
      },
      {
        "name": "Lookup_Update_Rows",
        "type": "Lookup",
        "dependsOn": [
          {
            "activity": "set_datemax_value",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "source": {
            "type": "SalesforceSource",
            "query": "SELECT \n   FirstName, \n    LastName, \n    Account.Name, \n    Title, \n    LastActivityDate, \n    Email, \n    Phone, \n    MobilePhone, \n    MailingState, \n    MailingCountry, \n    Account.Owner.Name, \n    CreatedDate\nFROM Contact \nwhere CreatedDate >\n@{variables('set_datemax_value')}",
            "includeDeletedObjects": false
          },
          "firstRowOnly": false,
          "datasetSettings": {
            "annotations": [],
            "type": "SalesforceObject",
            "schema": [],
            "typeProperties": {},
            "externalReferences": {
              "connection": "dfcc8c00-c3f1-489d-81cb-68d3c4b016ef"
            }
          }
        }
      }
    ],
    "variables": {
      "set_max_value": {
        "type": "String"
      },
      "set_datemax_value": {
        "type": "String"
      },
      "accountname": {
        "type": "String"
      }
    }
  }
}