Fabric_usecases/Core42_IncrementalUpdate_Lakehouse_V1_Invoke.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "6a4fb413-d00b-9377-4300-53972160cd88",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "parameters": {
            "batch_id": {
              "value": "1",
              "type": "int"
            }
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Pre Create Tables",
        "dependsOn": [
          {
            "activity": "Pipeline_Audit_Logs",
            "dependencyConditions": [
              "Completed"
            ]
          }
        ]
      },
      {
        "type": "Office365Outlook",
        "typeProperties": {
          "inputs": {
            "body": {
              "To": "malathi.s@kermittech.no",
              "Subject": "Orchestration Insert/Updarte Pipeline Status",
              "Body": "<p>Hi,</p>\n<p>Pipeline ran successfully. Please find the below details.</p>\n<p>Recent Batch ID : @{variables('set_batch_value')}</p>\n<p><br></p>\n<p>@{variables('Error_msg')}@{variables('Activity_Name')}</p>",
              "Sensitivity": "",
              "Importance": "Normal"
            },
            "method": "post",
            "path": "/v2/Mail"
          }
        },
        "name": "Office 365 Outlook1",
        "dependsOn": [
          {
            "activity": "ActivityName",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SqlServerStoredProcedure",
        "typeProperties": {
          "storedProcedureName": "[salesforce_CRM].[Reconcile_Data]",
          "storedProcedureParameters": {
            "BatchID": {
              "value": "1",
              "type": "Int16"
            }
          }
        },
        "linkedService": {
          "name": "Salesforce_CRM",
          "properties": {
            "type": "DataWarehouse",
            "typeProperties": {
              "artifactId": "efb7127e-7522-47d9-a937-6b9d085d9d80",
              "endpoint": "a5kotaldwscevlccuy24crmqsy-56cp7ruqstquvn6gxyigxvglrq.datawarehouse.fabric.microsoft.com",
              "workspaceId": "c6ff84ef-9490-4ae1-b7c6-be106bd4cb8c"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Gen_Reconciliation_Report",
        "dependsOn": [
          {
            "activity": "Invoke Contact pipeline",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "514f5565-ada4-a975-46fb-cc1038df2a97",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "parameters": {
            "PipelineRunId": {
              "value": {
                "value": "@pipeline().RunId",
                "type": "Expression"
              },
              "type": "string"
            },
            "PipelineId": {
              "value": {
                "value": "@pipeline().Pipeline",
                "type": "Expression"
              },
              "type": "string"
            },
            "PipelineName": {
              "value": {
                "value": "@pipeline().PipelineName",
                "type": "Expression"
              },
              "type": "string"
            },
            "StartTime": {
              "value": {
                "value": "@utcNow()",
                "type": "Expression"
              },
              "type": "string"
            },
            "EndTime": {
              "value": {
                "value": "@utcNow()",
                "type": "Expression"
              },
              "type": "string"
            },
            "WorkspaceId": {
              "value": {
                "value": "@pipeline().DataFactory",
                "type": "Expression"
              },
              "type": "string"
            },
            "PipelineStatus": {
              "value": "Started",
              "type": "string"
            },
            "ErrorDescription": {
              "value": "",
              "type": "string"
            }
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Pipeline_Audit_Logs",
        "dependsOn": []
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "514f5565-ada4-a975-46fb-cc1038df2a97",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "parameters": {
            "PipelineRunId": {
              "value": {
                "value": "@pipeline().RunId",
                "type": "Expression"
              },
              "type": "string"
            },
            "PipelineId": {
              "value": {
                "value": "@pipeline().Pipeline",
                "type": "Expression"
              },
              "type": "string"
            },
            "PipelineName": {
              "value": {
                "value": "@pipeline().PipelineName",
                "type": "Expression"
              },
              "type": "string"
            },
            "StartTime": {
              "value": {
                "value": "@utcNow()",
                "type": "Expression"
              },
              "type": "string"
            },
            "EndTime": {
              "value": {
                "value": "@utcNow()",
                "type": "Expression"
              },
              "type": "string"
            },
            "WorkspaceId": {
              "value": {
                "value": "@pipeline().DataFactory",
                "type": "Expression"
              },
              "type": "string"
            },
            "PipelineStatus": {
              "value": "Completed",
              "type": "string"
            },
            "ErrorDescription": {
              "value": {
                "value": "@replace(concat(\n    activity('Pre Create Tables')?.Error?.Message, '|', \n    activity('Invoke Organisation Pipeline')?.Error?.Message, '|', \n    activity('Invoke Contact Pipeline')?.Error?.Message, '|', \n    activity('Gen_Reconciliation_Report')?.Error?.Message\n), '|', '')",
                "type": "Expression"
              },
              "type": "string"
            }
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Pipeline_Audit_Logs_copy1",
        "dependsOn": [
          {
            "activity": "Gen_Reconciliation_Report",
            "dependencyConditions": [
              "Completed"
            ]
          }
        ]
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "Activity_Name",
          "value": {
            "value": "@if(\n    not(empty(activity('Pre Create Tables')?.Error?.Message)), \n    concat('Error in Pre Create Tables: ', activity('Pre Create Tables')?.Error?.Message), \n        if(\n            not(empty(activity('Invoke Organisation Pipeline')?.Error?.Message)), \n            concat('Error in Invoke Organisation Pipeline: ', activity('Invoke Organisation Pipeline')?.Error?.Message), \n            if(\n                not(empty(activity('Invoke Contact Pipeline')?.Error?.Message)), \n                concat('Error in Invoke Contact Pipeline: ', activity('Invoke Contact Pipeline')?.Error?.Message), \n                'Successfully Ran'\n            )\n    )\n)\n",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "ActivityName",
        "dependsOn": [
          {
            "activity": "Error_Msg",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Wait",
        "typeProperties": {
          "waitTimeInSeconds": 2
        },
        "name": "Wait1",
        "dependsOn": [
          {
            "activity": "Gen_Reconciliation_Report",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "Error_msg",
          "value": {
            "value": "@replace(concat(\n    activity('Pre Create Tables')?.Error?.Message, '|', \n    activity('Invoke Organisation Pipeline')?.Error?.Message, '|', \n    activity('Invoke Contact Pipeline')?.Error?.Message, '|', \n    activity('Gen_Reconciliation_Report')?.Error?.Message\n), '|', '')",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Error_Msg",
        "dependsOn": [
          {
            "activity": "Wait1",
            "dependencyConditions": [
              "Skipped"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "514f5565-ada4-a975-46fb-cc1038df2a97",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "parameters": {
            "PipelineRunId": {
              "value": {
                "value": "@pipeline().RunId",
                "type": "Expression"
              },
              "type": "string"
            },
            "PipelineId": {
              "value": {
                "value": "@pipeline().Pipeline",
                "type": "Expression"
              },
              "type": "string"
            },
            "PipelineName": {
              "value": {
                "value": "@pipeline().PipelineName",
                "type": "Expression"
              },
              "type": "string"
            },
            "StartTime": {
              "value": {
                "value": "@utcNow()",
                "type": "Expression"
              },
              "type": "string"
            },
            "EndTime": {
              "value": {
                "value": "@utcNow()",
                "type": "Expression"
              },
              "type": "string"
            },
            "WorkspaceId": {
              "value": {
                "value": "@pipeline().DataFactory",
                "type": "Expression"
              },
              "type": "string"
            },
            "PipelineStatus": {
              "value": "Errored",
              "type": "string"
            },
            "ErrorDescription": {
              "value": {
                "value": "@replace(concat(\n    activity('Pre Create Tables')?.Error?.Message, '|', \n    activity('Invoke Organisation Pipeline')?.Error?.Message, '|', \n    activity('Invoke Contact Pipeline')?.Error?.Message, '|', \n    activity('Gen_Reconciliation_Report')?.Error?.Message\n), '|', '')",
                "type": "Expression"
              },
              "type": "string"
            }
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Error_Audit_Log",
        "dependsOn": [
          {
            "activity": "Office 365 Outlook1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "InvokePipeline",
        "typeProperties": {
          "parameters": {},
          "waitOnCompletion": true,
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "pipelineId": "645ac90c-01d9-a532-45ed-0d478421924f",
          "operationType": "InvokeFabricPipeline"
        },
        "externalReferences": {
          "connection": "e44e2819-7516-4f77-a04c-0570aca02701"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Invoke Contact pipeline",
        "dependsOn": [
          {
            "activity": "Invoke Organisation pipeline",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "InvokePipeline",
        "typeProperties": {
          "parameters": {},
          "waitOnCompletion": true,
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "pipelineId": "5c2a0613-4b38-8efe-4d89-2f6898edde24",
          "operationType": "InvokeFabricPipeline"
        },
        "externalReferences": {
          "connection": "e44e2819-7516-4f77-a04c-0570aca02701"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Invoke Organisation pipeline",
        "dependsOn": [
          {
            "activity": "Pre Create Tables",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ],
    "variables": {
      "set_max_value": {
        "type": "String"
      },
      "set_datemax_value": {
        "type": "String"
      },
      "accountname": {
        "type": "String"
      },
      "firstname": {
        "type": "String"
      },
      "lastname": {
        "type": "String"
      },
      "set_batch_value": {
        "type": "Integer"
      },
      "set_tgt_maxvalue": {
        "type": "String"
      },
      "Error_msg": {
        "type": "String"
      },
      "Activity_Name": {
        "type": "String"
      },
      "Err_msg": {
        "type": "String"
      },
      "org_err_msg": {
        "type": "String"
      },
      "org_activity_name": {
        "type": "String"
      },
      "contact_err_msg": {
        "type": "String"
      },
      "contact_activity_name": {
        "type": "String"
      },
      "contact_max_value": {
        "type": "String"
      },
      "contact_batch_value": {
        "type": "Integer"
      },
      "org_max_value": {
        "type": "String"
      },
      "org_batch_value": {
        "type": "Integer"
      }
    }
  }
}