Core42Fabric_Sep2025/Pipelines/Core42_Pipeline_RuntimeLogs.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "ExcelSource",
            "storeSettings": {
              "type": "LakehouseReadSettings",
              "recursive": false,
              "enablePartitionDiscovery": false
            },
            "datasetSettings": {
              "type": "Excel",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation",
                  "fileName": "Core42 1.xlsx"
                },
                "sheetName": "Account_Table_Data",
                "firstRowAsHeader": true
              },
              "schema": [],
              "linkedService": {
                "name": "Core42",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "17866f8c-a6eb-98ec-4c55-efc26ab9a74f",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Files"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "LakehouseTableSink",
            "tableActionOption": "OverwriteSchema",
            "partitionOption": "None",
            "datasetSettings": {
              "type": "LakehouseTable",
              "typeProperties": {
                "table": "Account"
              },
              "schema": [],
              "linkedService": {
                "name": "Core42",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "17866f8c-a6eb-98ec-4c55-efc26ab9a74f",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Tables"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Account",
        "dependsOn": [
          {
            "activity": "Append_PipelineLog_RunTime",
            "dependencyConditions": [
              "Skipped"
            ]
          }
        ]
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "ExcelSource",
            "storeSettings": {
              "type": "LakehouseReadSettings",
              "recursive": false,
              "enablePartitionDiscovery": false
            },
            "datasetSettings": {
              "type": "Excel",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation",
                  "fileName": "Core42 1.xlsx"
                },
                "sheetName": "Opportunity_Table_Data",
                "firstRowAsHeader": true
              },
              "schema": [],
              "linkedService": {
                "name": "Core42",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "17866f8c-a6eb-98ec-4c55-efc26ab9a74f",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Files"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "LakehouseTableSink",
            "tableActionOption": "OverwriteSchema",
            "partitionOption": "None",
            "datasetSettings": {
              "type": "LakehouseTable",
              "typeProperties": {
                "table": "Opportunity"
              },
              "schema": [],
              "linkedService": {
                "name": "Core42",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "17866f8c-a6eb-98ec-4c55-efc26ab9a74f",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Tables"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Opportunity",
        "dependsOn": [
          {
            "activity": "Account",
            "dependencyConditions": [
              "Skipped"
            ]
          }
        ]
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "ExcelSource",
            "storeSettings": {
              "type": "LakehouseReadSettings",
              "recursive": false,
              "enablePartitionDiscovery": false
            },
            "datasetSettings": {
              "type": "Excel",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation",
                  "fileName": "Core42 1.xlsx"
                },
                "sheetName": "Lead_Table_Data",
                "firstRowAsHeader": true
              },
              "schema": [],
              "linkedService": {
                "name": "Core42",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "17866f8c-a6eb-98ec-4c55-efc26ab9a74f",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Files"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "LakehouseTableSink",
            "tableActionOption": "OverwriteSchema",
            "partitionOption": "None",
            "datasetSettings": {
              "type": "LakehouseTable",
              "typeProperties": {
                "table": "Lead"
              },
              "schema": [],
              "linkedService": {
                "name": "Core42",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "17866f8c-a6eb-98ec-4c55-efc26ab9a74f",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Tables"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Lead",
        "dependsOn": [
          {
            "activity": "Opportunity",
            "dependencyConditions": [
              "Skipped"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "d9e5ed53-335b-9754-4847-449e83cfd598",
          "workspaceId": "00000000-0000-0000-0000-000000000000"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Previous_Run_Time",
        "dependsOn": []
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "56b5d5eb-5d66-a442-4ffa-7e0e3e277297",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "parameters": {
            "RunID": {
              "value": {
                "value": "@pipeline().RunId",
                "type": "Expression"
              },
              "type": "string"
            },
            "CurrentRunTime": {
              "value": {
                "value": "@utcNow()",
                "type": "Expression"
              },
              "type": "string"
            },
            "PreviousRunTime": {
              "value": {
                "value": "@{if(equals(activity('Previous_Run_Time').output, null), 'null', activity('Previous_Run_Time').output.result.exitvalue)}\n",
                "type": "Expression"
              },
              "type": "string"
            }
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Append_PipelineLog_RunTime",
        "dependsOn": [
          {
            "activity": "Previous_Run_Time",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ]
  }
}